* {
  margin: 0;
  padding: 0;
}
.wrapper {
  //background: yellow;
  margin: auto;
  width: 1100px;
  height: 1500px;
  font-family: poppins;
}

/*************** header ************/

.header-cont {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.range-logo {
  width: 250px;
}
/*************** Banner1 ************/

.banner1-cont {
  background-image: url(./assets/banner1.png);
  text-align: center;
  width: 100%;
  height: 320px;
  background-repeat: no-repeat;
}

.banner1-h1 {
  text-align: left;
  margin-left: 70px;
  position: relative;
  top: 90px;
  color: white;
  line-height: 40px;
  font-size: 35px;
}
.button-cont {
  text-align: left;
  margin-left: 70px;
  position: relative;
  top: 110px;
}
.button {
  height: 25px;
  width: 125px;
  border-radius: 0%;
  border: none;
  background: #fec536;
  font-size: 14px;
}

/*************** Partnerts ************/

.partners-cont {
  background: white;
}
.partners-logo-cont {
  list-style-type: none;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 50px;
}
.partners-logo-cont li {
  margin-left: 10px;
}
.partners-logo1 {
  padding: 18px 0;
  font-size: 10px;
}
.partners-logo2 img,
.partners-logo3 img {
  height: 50px;
}

/*************** Descript Cont ************/
.descript-cont {
  display: flex;
  height: 130px;
  margin-top: 30px;
}
.descript-cont1 {
  height: 100%;
  width: 40%;
  border-right: solid black 3px;
  text-align: right;
}
.descript-cont1 h2 {
  padding: 45px 55px 0px 0px;
}
.descript-cont2 {
  height: 100%;
  width: 60%;
}
.descript-cont2 p {
  font-size: 13px;
  padding: 25px 80px 0px 20px;
}

/*************** Product Description Cont ************/

.product-descript-cont {
  margin-top: 70px;
  text-align: center;
}

.product-descript-img {
  margin-top: 20px;
  width: 680px;
  padding-right: 38px;
}
.product-descript-button-cont {
  margin-top: 15px;
}

/*************** Banner 2 ************/
.banner2-cont {
  background-image: url(./assets/banner2.png);
  margin-top: 40px;
  text-align: center;
  width: 100%;
  height: 230px;
  background-repeat: no-repeat;
  text-align: left;
}
.banner2-h2 {
  color: white;
  text-align: right;
  padding: 40px 50px 0px 0px;
  font-size: 35px;
  line-height: 45px;
}
